<html>
  <head>
    <title>Kanban Metrics</title>
  </head>
  <body style="background: #242424">
    <div style="position: absolute;
		z-index: 15;
		top: 20%;
		left: 40%;
		margin: -100px 0 0 -150px;
		background: grey">
    <% @boards.each do |board| %>
    <a href="/metrics/<%=board['config']['name']%>"
       style="display: inline-block;
	      font-family:Georgia,serif;
	      font-variant: small-caps;
	      font-weight: 100;
	      font-size: 2em;
              padding: 4px;
              outline: 0;
              color: #3a599d;"><%=board['config']['name']%></a><br>
    <% end %>
    </div>
  </body>
</html>
